<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A site for learning Japanese Words">
    <meta name="author" content="zzd">

    <title>JpLearn - Word list</title>

    <!-- Bootstrap CSS -->
    <link id="minCSS" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .imgBtn {
            height: 20px;
            filter: opacity(20%);
        }

        @font-face {
            font-family: "MYTTF";
            src: url("{% url 'jplearn:ttf' %}");
        }
    </style>
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand mb-1 h1" href="#">
                <!--img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" -->JpLearn
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li class="p-1 nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link active" href="#">Test
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" href="{% url 'jplearn:dict' %}">Dictionary</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a id="toggleLightDark" class="nav-link" href="#">Dark</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" href="https://github.com/benkerd22/JpLearn">Github</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="p-1 nav-item align-self-end">
                        <a class="nav-link" href="{% url 'jplearn:logout' %}?next={% url 'jplearn:index' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <audio id="pronunce" src=""></audio>

    <div class="container-fluid pt-3">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xl-3">
                <div class="container-fluid mb-2" style="height: 114px">
                    <span class="card card-body">
                        <div class="row">
                            <div class="col-auto pr-2">
                                <div id="realDisplay" class="" style="font-family: MYTTF">
                                    <!-- To be displayed -->
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                                <div class="col"><button id="play" class="btn btn-light btn-sm disabled">▷</button></div>
                            </div>
                            <div class="col">
                                <img id="favBtn" src="{% url 'jplearn:img' %}/unchecked.png" alt="add/remove" class="rounded float-right imgBtn"
                                    data-status="0" data-wordid="null">
                            </div>
                        </div>
                    </span>
                </div>

                <div class="container-fluid pb-2">
                    <div id="progress_wrap" class="progress" style="height: 8px">
                        <div id="progress" class="progress-bar bg-info" role="progressbar" style="width: 0%"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="container-fluid m-0 pb-3">
                    <div id="detail" class="collapse">
                        <div class="card card-body">
                            <div class="container-fluid pb-3">
                                <div id="gifrow" class="row no-gutters">
                                    <!-- Gif show here -->
                                </div>
                            </div>
                            <div class="container-fluid pb-3">
                                <div class="row">
                                    <div class="col-auto">
                                        <p id="gana" class="h3 font-weight-light" style="font-family: MYTTF"></p>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-auto">
                                        <p id="kanji" class="h3 font-weight-light" style="font-family: MYTTF"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div id="chn" class="h6 text-muted font-weight-light">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pb-3">
                    <div class="row">
                        <div class="col">
                            <div class="col-sm-2 p-0 m-0">
                                <button id="show" class="btn btn-block btn-outline-light" type="button" data-toggle="collapse"
                                    data-target="#detail" aria-expanded="false">⌄</button></div>
                        </div>
                        <div class="col-auto">
                            <button id="next" class="btn btn-outline-success float-right ml-3">next &raquo;</button>
                            <button id="previous" class="btn btn-outline-light float-right">&laquo;</button>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pb-2">
                    <img id="settingBtn" src="https://cdn4.iconfinder.com/data/icons/forgen-phone-settings/48/setting-512.png"
                        alt="Settings" class="rounded float-right imgBtn" data-toggle="collapse" data-target="#modeSettings">
                </div>

                <div class="container-fluid pb-2 my-4">
                    <div id="modeSettings" class="collapse">
                        <div class="row justify-content-end">
                            <div class="col"></div>
                            <div class="col-sm-auto">
                                <div class="card card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="1" id="kanjiCheck">漢字</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="2">仮名</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="3">CHN</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="4">♪</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end my-3">
                            <div class="col flex-growth-1"></div>
                            <div class="col-auto">
                                <div class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#quitConfirm">quit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />

    <div class="container-fluid fixed-bottom">
        <small>
            <p class="text-muted text-center font-weight-light">
                zzd present
        </small></p>
    </div>

    <div class="modal fade" id="quitConfirm" tabindex="-1" role="dialog" aria-labelledby="quitConfirm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body lead">
                    Are you sure to quit the current test?<br />
                    This <b>cannot</b> be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">Return</button>
                    <button id="quit" type="button" class="btn btn-outline-danger">&nbsp;Quit&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="successAlert" aria-hidden="true">
        <div class="row justify-content-center my-3">
            <div class="col-sm-8 col-lg-4">
                <div class="alert alert-success" role="alert">
                    <div class="alert-heading font-weight-light h1">Well done!</div>
                    <p class="font-weight-light h4">You have successfully finished a test containing <b id="wordCount"></b>
                        words!</p>
                    <hr>
                    <div class="mb-0 font-weight-light h5">Feel free to start a new test!</div>
                    <div class="row justify-content-end mt-3">
                        <div class="col flex-growth-1"></div>
                        <div class="col-auto">
                            <a href="{% url 'jplearn:start' %}" class="btn btn-outline-success">continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!---<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        "use strict"

        $("#modeSettings").find("button").each(function () {
            let onclick = function (e) {
                if (this.hasClass("btn-light")) {
                    this.removeClass("btn-light");
                    this.addClass("btn-primary");
                } else {
                    this.removeClass("btn-primary");
                    this.addClass("btn-light");
                }
            }
            $(this).click(onclick.bind($(this)));
        })

        let media = $("audio")[0];
        let autoRepeatTimes = 2;

        $("#play").click(function (e) {
            if ($("#play").hasClass("disabled"))
                return;

            $("#play").addClass("disabled").text("♪");
            autoRepeatTimes = 1;
            $(media).trigger("play");
        })

        $(media)
            .on("pause", function () {
                if (autoRepeatTimes == 0)
                    return;

                autoRepeatTimes--;
                if (autoRepeatTimes == 0) {
                    $("#play").removeClass("disabled").text("▷");
                } else {
                    $(media).trigger("play");
                }
            })
            .on("loadstart", function () {
                $("#play").addClass("disabled invisible");
            })
            .on("canplaythrough", function () {
                $("#play").removeClass("disabled invisible");
                if (autoRepeatTimes > 0) {
                    $("#play").addClass("disabled").text("♪");

                    $(media).trigger("play");
                }
            })

        let getnextdone = function (json) {
            console.log(json)
            let refreshDisplay = function () {
                localStorage.setItem('current_id', json.id);

                if (json.status == 'continue')
                    $("#progress")
                        .attr("aria-valuenow", json.current)
                        .attr("aria-valuemax", json.max)
                        .css("width", json.current * 100 / json.max + '%');
                else if (json.status == 'random_mode')
                    $("#progress_wrap").addClass("d-none");

                if (json.checked) {
                    $("#favBtn")
                        .attr("src", "{% url 'jplearn:img' %}/checked.png")
                        .css("filter", "opacity(100%)")
                        .data("status", 1);
                } else {
                    $("#favBtn")
                        .attr("src", "{% url 'jplearn:img' %}/unchecked.png")
                        .css("filter", "opacity(20%)")
                        .data("status", 0);
                }

                let randomArr = [];
                $("#modeSettings").find("button").each(function () {
                    if ($(this).hasClass("btn-primary")) {
                        randomArr.push(parseInt($(this).data("target")));
                    }
                })

                $("#realDisplay").text("");

                let rand = randomArr[Math.floor(Math.random() * randomArr.length)];
                if (typeof (rand) == "undefined") {
                    $("#kanjiCheck").click();
                    rand = 1;
                }

                autoRepeatTimes = rand === 4 ? 2 : 0;
                autoRepeatTimes = 0;
                if (rand === 4) {
                    autoRepeatTimes = 2;
                    $("#pronunce").trigger("load");
                    return;
                }
                $("#pronunce").trigger("load");

                if (rand === 3) {
                    $("#realDisplay")
                        .text(json.chn)
                        .css("font-family", "")
                        .removeClass("h2")
                        .addClass("h1 lead");
                    return;
                }

                if (rand === 1 && json.kanji !== json.gana) {
                    $("#realDisplay")
                        .text(json.kanji)
                        .css("font-family", "MYTTF")
                        .removeClass("h2 lead")
                        .addClass("h1");
                    return;
                }

                $("#realDisplay")
                    .empty()
                    .append(`${json.gana}<small>&nbsp;${json.tone}</small>`)
                    .css("font-family", "MYTTF")
                    .removeClass("lead h1 h2")
                    .addClass(json.gana.length >= 6 ? "h2" : "h1");
            }

            let refreshDetail = function () {
                $("#pronunce").attr("src", `{% url 'jplearn:audio' %}/${json.gana}`);

                $("#play")
                    .text("▷")
                    .addClass("disabled invisible");

                $("#gifrow").empty();
                /*
                json.urls.forEach(url => {
                    $("#gifrow").append(
                        `<div class="col-2">
                                <img src="${url.name}" class="img-fluid" alt="${url.alt}">
                            </div>`);
                })*/

                $("#gana").empty().append(`${json.gana}&nbsp;${json.tone}`);

                $("#kanji").text("");
                if (json.gana != json.kanji) {
                    $("#kanji").text(json.kanji);
                }

                $("#chn").text(json.chn);

                refreshDisplay();

                $("#detail").off();
            }

            if (json.status === "finish") {
                $("#progress")
                    .attr("aria-valuenow", json.max)
                    .attr("aria-valuemax", json.max)
                    .css("width", '100%');

                $("#wordCount").text(json.max);
                $("#successAlert").modal("show");
                return;
            }

            if (json.status !== "not allowed") {
                if ($("#detail").hasClass("show")) {
                    $("#detail")
                        .collapse("hide")
                        .on("hidden.bs.collapse", refreshDetail)
                } else
                    refreshDetail();
            }

            $("#next").removeClass("disabled");
            $("#previous").removeClass("disabled");
        }

        let postAction = function (action) {
            $.ajax({
                url: "{% url 'jplearn:test' %}",
                method: "POST",
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: JSON.stringify({
                    "action": action,
                }),
                dataType: "json",
            })
                .done(function (json) {
                    getnextdone(json);
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        $(document).ready(function () {
            postAction("new");
        })

        $("#show").click(function (e) {
            let t = document.getElementById("show").textContent;
            $("#show").text(t == "⌄" ? "⌃" : "⌄");
        })

        $("#next").click(function (e) {
            if ($(this).hasClass("disabled"))
                return;

            $(this).addClass("disabled");
            $("#previous").addClass("disabled");
            postAction("next");
        })

        $("#previous").click(function (e) {
            if ($(this).hasClass("disabled"))
                return;

            $(this).addClass("disabled");
            $("#next").addClass("disabled");
            postAction("previous");
        })

        $("#quit").click(function (e) {
            if ($(this).hasClass("disabled"))
                return;

            $("#quit").addClass("disabled");
            $.ajax({
                url: "{% url 'jplearn:test' %}",
                method: "POST",
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: JSON.stringify({
                    "action": "quit"
                }),
                dataType: "json",
            })
                .done(function (json) {
                    if (json.status === 302) {
                        window.location.replace(json.location);
                    }
                })
                .fail(function () {
                    $("#quit").removeClass("disabled")
                })
        })

        $("#toggleLightDark").click(function (e) {
            let elem = $("#toggleLightDark");
            if (elem.text() === "Dark") {
                elem.text("Light");
                $("#body").css("background-color", "");
                $("#minCSS").attr("href", "https://bootswatch.com/4/darkly/bootstrap.min.css")
                    .attr("integrity", "")
                    .attr("crossorigin", "");
                $("#settingBtn").css("filter", "invert(0%)");
            } else {
                elem.text("Dark");
                $("#body").css("background-color", "#f5f5f5");
                $("#minCSS").attr("href", "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
                    .attr("integrity", "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm")
                    .attr("crossorigin", "anonymous");
                $("#settingBtn").css("filter", "invert(50%)");
            }
        })

        $("#favBtn").click(function (e) {
            if ($(this).hasClass("disabled"))
                return;
            $(this).addClass("disabled");

            let m = $(this).data("status") == "0" ? "add" : "remove";

            $.ajax({
                url: "{% url 'jplearn:dictAction' %}",
                method: "POST",
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: JSON.stringify({
                    "target": localStorage.getItem('current_id'),
                    "action": m,
                }),
                dataType: "json",
            })
                .done(function (json) {
                    if (json.checkStatus) {
                        $("#favBtn")
                            .attr("src", "{% url 'jplearn:img' %}/checked.png")
                            .css("filter", "opacity(100%)")
                            .data("status", 1);
                    } else {
                        $("#favBtn")
                            .attr("src", "{% url 'jplearn:img' %}/unchecked.png")
                            .css("filter", "opacity(20%)")
                            .data("status", 0);
                    }
                })
                .fail(function (jqXHR, testStatus, err) {
                })
                .always(function () {
                    $("#favBtn").removeClass("disabled");
                })
        })
    </script>
</body>

</html>