<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>JpLearn - Word list</title>

    <!-- Bootstrap CSS -->
    <link id="minCSS" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .settingBtn {
            height: 16px;
            filter: opacity(20%);
        }

        @font-face {
            font-family: "MYTTF";
            src: url("ttf");
        }
    </style>
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand mb-1 h1" href="#">
                <!--img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" -->JpLearn
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li class="p-1 nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link active" href="#">Test
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="p-1 nav-item">
                        <a id="toggleLightDark" class="nav-link" href="#">Dark</a>
                    </li>
                    <li class="p-1 nav-item">
                        <a class="nav-link" href="https://github.com/benkerd22/JpLearn">Github</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="p-1 nav-item align-self-end">
                        <a class="nav-link" href="#">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <audio id="pronunce" src=""></audio>

    <div class="container-fluid pt-3">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xl-3">
                <div class="container-fluid pb-3" style="height: 114px">
                    <span class="card card-body">
                        <div class="row">
                            <div class="col-auto pr-2">
                                <div id="realDisplay" class="" style="font-family: MYTTF">
                                    <!-- To be displayed -->
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                                <div class="col"><button id="play" class="btn btn-light btn-sm disabled">▷</button></div>
                            </div>
                        </div>
                    </span>
                </div>

                <div class="container-fluid m-0 pb-3">
                    <div id="detail" class="collapse">
                        <div class="card card-body">
                            <div class="container-fluid pb-3">
                                <div id="gifrow" class="row no-gutters">
                                    <!-- Gif show here -->
                                </div>
                            </div>
                            <div class="container-fluid pb-3">
                                <div class="row">
                                    <div class="col-auto">
                                        <p id="gana" class="h3 font-weight-light"></p>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-auto">
                                        <p id="kanji" class="h3 font-weight-light"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div id="chn" class="h6 text-muted font-weight-light">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pb-3">
                    <div class="row justify-content-between">
                        <div class="col">
                            <button id="show" class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse"
                                data-target="#detail" aria-expanded="false">⌄</button>
                        </div>
                        <div class="col">
                            <button id="next" class="btn btn-sm btn-outline-success float-right">next &raquo;</button>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pb-2">
                    <img id="settingBtn" src="https://cdn4.iconfinder.com/data/icons/forgen-phone-settings/48/setting-512.png"
                        alt="Settings" class="rounded float-right settingBtn" data-toggle="collapse" data-target="#modeSettings">
                </div>

                <div class="container-fluid pb-2 mt-3">
                    <div id="modeSettings" class="collapse">
                        <div class="row justify-content-end">
                            <div class="col"></div>
                            <div class="col-sm-auto">
                                <div class="card card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="1" id="kanjiCheck">漢字</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="2">仮名</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="3">CHN</button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button class="btn btn-sm btn-light" data-target="4">♪</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid fixed-bottom">
        <small>
            <p class="text-muted text-center font-weight-light">
                zzd present
        </small></p>
    </div>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!---<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        "use strict"

        $("#modeSettings").find("button").each(function () {
            let onclick = function (e) {
                if (this.hasClass("btn-light")) {
                    this.removeClass("btn-light");
                    this.addClass("btn-primary");
                } else {
                    this.removeClass("btn-primary");
                    this.addClass("btn-light");
                }
            }
            $(this).click(onclick.bind($(this)));
        })

        let media = $("audio")[0];
        let autoRepeatTimes = 2;
        
        $("#play").click(function (e) {
            if ($("#play").hasClass("disabled"))
                return;

            $("#play").addClass("disabled").text("♪");
            autoRepeatTimes = 1;
            $(media).trigger("play");
        })

        $(media)
            .on("pause", function () {
                if (autoRepeatTimes == 0)
                    return;

                autoRepeatTimes--;
                if (autoRepeatTimes == 0) {
                    $("#play").removeClass("disabled").text("▷");
                } else {
                    $(media).trigger("play");
                }
            })
            .on("loadstart", function() {
                $("#play").addClass("disabled invisible");
            })
            .on("canplaythrough", function () {
                $("#play").removeClass("disabled invisible");
                if (autoRepeatTimes > 0) {
                    $("#play").addClass("disabled").text("♪");

                    $(media).trigger("play");
                }
            })

        let getnext = function () {
            $.getJSON("next")
                .done(function (json) {
                    let refreshDisplay = function () {
                        let randomArr = [];
                        $("#modeSettings").find("button").each(function() {
                            if ($(this).hasClass("btn-primary")) {
                                randomArr.push(parseInt($(this).data("target")));
                            }
                        })

                        $("#realDisplay").text("");

                        let rand = randomArr[Math.floor(Math.random() * randomArr.length)];
                        if (typeof(rand) == "undefined") {
                            $("#kanjiCheck").click();
                            rand = 1;
                        }

                        autoRepeatTimes = rand === 4 ? 2 : 0;
                        autoRepeatTimes = 0;
                        if (rand === 4) {
                            autoRepeatTimes = 2;
                            $("#pronunce").trigger("load");
                            return;
                        }
                        $("#pronunce").trigger("load");

                        if (rand === 3) {
                            $("#realDisplay")
                                .text(json.chn)
                                .css("font-family", "")
                                .removeClass("h2")
                                .addClass("h1 lead");
                            return;
                        }

                        if (rand === 1 && json.kanji !== json.gana) {
                            $("#realDisplay")
                                .text(json.kanji)
                                .css("font-family", "MYTTF")
                                .removeClass("h2 lead")
                                .addClass("h1");
                            return;
                        }

                        $("#realDisplay")
                            .empty()
                            .append(`${json.gana}<small>&nbsp;${json.tone}</small>`)
                            .css("font-family", "MYTTF")
                            .removeClass("lead h1 h2")
                            .addClass(json.gana.length >= 6 ? "h2" : "h1");
                    }

                    let refreshDetail = function () {
                        $("#pronunce").attr("src", `audio/${json.gana}`);

                        $("#play")
                            .text("▷")
                            .addClass("disabled invisible");

                        $("#gifrow").empty();
                        json.urls.forEach(url => {
                            $("#gifrow").append(
                                `<div class="col-2">
                                        <img src="${url.name}" class="img-fluid" alt="${url.alt}">
                                    </div>`);
                        })

                        $("#gana").empty().append(`${json.gana}&nbsp;${json.tone}`);

                        $("#kanji").text("");
                        if (json.gana != json.kanji) {
                            $("#kanji").text(json.kanji);
                        }

                        $("#chn").text(json.chn);

                        refreshDisplay();

                        $("#detail").off();
                    }
                    
                    if ($("#detail").hasClass("show")) {
                        $("#detail")
                            .collapse("hide")
                            .on("hidden.bs.collapse", refreshDetail)
                    } else
                        refreshDetail();
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        $(document).ready(function () {
            getnext();
        })

        //(function () {
            
        //})();

        $("#show").click(function (e) {
            let t = document.getElementById("show").textContent;
            $("#show").text(t == "⌄" ? "⌃" : "⌄");
        })

        $("#next").click(function (e) {
            getnext();
        })

        $("#toggleLightDark").click(function (e) {
            let elem = $("#toggleLightDark");
            if (elem.text() === "Dark") {
                elem.text("Light");
                $("#body").css("background-color", "");
                $("#minCSS").attr("href", "https://bootswatch.com/4/darkly/bootstrap.min.css")
                    .attr("integrity", "")
                    .attr("crossorigin", "");
                $("#settingBtn").css("filter", "invert(0%)");
            } else {
                elem.text("Dark");
                $("#body").css("background-color", "#f5f5f5");
                $("#minCSS").attr("href", "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
                    .attr("integrity", "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm")
                    .attr("crossorigin", "anonymous");
                $("#settingBtn").css("filter", "invert(50%)");
            }
        })
    </script>
</body>

</html>